@model PaginatedList<AutoService.DAL.Entities.Insurance>

@{
    ViewData["Title"] = "Страховки";
}
<link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<div class="bg-primary m-1 p-1 text-center text-white">
    <h4>Страховки</h4>
</div>
<p>
    <a class="btn btn-outline-info" asp-action="CreateInsurance">
        <span class="fa fa-plus-circle">Добавить данные</span>
    </a>
</p>

<div class="table table-sm table-bordered"></div>
@{
    var prevDisabled = !Model.PreviousPage ? "disabled" : "";
    var nextDisabled = !Model.NextPage ? "disabled" : "";
}
<a asp-action="Index"
   asp-route-pageNo="@(Model.PageIndex-1)"
   class="btn btn-default @prevDisabled">
    Предыдущая
</a>
<a asp-action="Index"
   asp-route-pageNo="@(Model.PageIndex+1)"
   class="btn btn-default @nextDisabled">
    Следующая
</a>
<div class="table table-sm table-bordered"></div>
<table class="table table-sm table-borderless">
    <tr align="center">
        <th>Наименование</th>
        <th>Гос. номер</th>
        <th>Действует с</th>
        <th>Действует до</th>
    </tr>
    @if (Model.Count() == 0)
    {
        <tr>
            <td colspan="4" class="text-center">Нет данных об оплате страховок</td>
        </tr>
    }
    else
    {
        foreach (Insurance insurance in Model)
        {
            <tr align="center">
                <td>@insurance.Auto.AutoName</td>
                <td>@insurance.Auto.AutoNumber</td>
                <td>@insurance.InsuranceDate.ToString("dd.MM.yyyy")</td>
                @if (DateTime.Now > insurance.InsuranceDateProlongation)
                {
                    <td style="color:red" title="Срок действия страховки инстек!">@insurance.InsuranceDateProlongation.ToString("dd.MM.yyyy")</td>
                }
                else if (DateTime.Now > insurance.InsuranceDateProlongation.AddMonths(-1))
                {
                    <td style="color:orange" title="Срок действия страховки инстекает!">@insurance.InsuranceDateProlongation.ToString("dd.MM.yyyy")</td>
                }
                else
                {
                    <td>@insurance.InsuranceDateProlongation.ToString("dd.MM.yyyy")</td>
                }
                @if (User.IsInRole("admin"))
                {
                    <td>
                        <form asp-action="DeleteInsurance" asp-route-id="@insurance.InsuranceId" method="post">
                            <a class="btn btn-outline-info" asp-action="EditInsurance" asp-route-id="@insurance.InsuranceId">
                                <span class="fa fa-pencil"></span>
                            </a>
                            <button type="submit" class="btn btn-outline-danger">
                                <span class="fa fa-close"></span>
                            </button>
                        </form>
                    </td>
                }

            </tr>
        }
    }
</table>
