@model PaginatedList<Inspection>
@using AutoService.Workers
@*@inject SignInManager<AutoService.DAL.Entities.ApplicationUser> SignInManager
@inject UserManager<AutoService.DAL.Entities.ApplicationUser> UserManager
@inject RoleManager<IdentityRole> RoleManager*@

@{
    ViewData["Title"] = "Технический осмотр ";
}

<link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>

<div class="bg-primary m-1 p-1 text-white text-center">
    <h4>Технический осмотр</h4>
</div>

<p>
    <a class="btn btn-outline-info" asp-action="CreateInspection">
        <span class="fa fa-plus-circle">Добавить данные</span>
    </a>
</p>

<div class="table table-sm table-bordered"></div>
@{
    var prevDisabled = !Model.PreviousPage ? "disabled" : "";
    var nextDisabled = !Model.NextPage ? "disabled" : "";
}
<a asp-action="Index"
   asp-route-pageNo="@(Model.PageIndex-1)"
   class="btn btn-default @prevDisabled">
    Предыдущая
</a>
<a asp-action="Index"
   asp-route-pageNo="@(Model.PageIndex+1)"
   class="btn btn-default @nextDisabled">
    Следующая
</a>
<div class="table table-sm table-bordered"></div>
<table class="table table-sm table-borderless">
    <tr align="center">
        <th>Наименование</th>
        <th>Гос. номер</th>
        <th>Дата прохождения</th>
        <th>Дата следующего</th>
    </tr>
    @if (Model.Count() == 0)
    {
        <tr>
            <td colspan="4" class="text-center">Нет данных о техническом осмотре</td>
        </tr>
    }
    else
    {
        foreach (Inspection inspection in Model)
        {
            <tr align="center">
                <td>@inspection.Auto.AutoName</td>
                <td>@inspection.Auto.AutoNumber</td>
                <td>@inspection.InspectionDate.ToString("MM.yyyy")</td>
                @if (DateTime.Now > inspection.InspectionMonthNext)
                {
                    <td style="color:red" title="Срок действия технического осмотра истек!">
                        @inspection.InspectionMonthNext.ToString("MM.yyyy")
                    </td>
                }
                else if (DateTime.Now > inspection.InspectionMonthNext.AddMonths(-1))
                {
                    //string email = @User.Identity.Name;
                    //await EmailSender.SendEmailAsync(email, "Рассылка АвтоСервис", "Проверьте срок действия тех.осмотра");
                    <td style="color:orange" title="Срок действия технического осмотра истекает!">
                        @inspection.InspectionMonthNext.ToString("MM.yyyy")
                    </td>
                }
                else
                {
                    <td>
                        @inspection.InspectionMonthNext.ToString("MM.yyyy")
                    </td>
                }
                @if (User.IsInRole("admin"))
                {
                    <td>
                        <form asp-action="DeleteInspection" asp-route-id="@inspection.InspectionId" method="post">
                            <a class="btn btn-outline-info" asp-action="EditInspection" asp-route-id="@inspection.InspectionId">
                                <span class="fa fa-pencil"></span>
                            </a>
                            <button type="submit" class="btn btn-outline-danger">
                                <span class="fa fa-close"></span>
                            </button>
                        </form>
                    </td>
                }
            </tr>
        }
    }
</table>